@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vndo ao Click Imóveis!</h1>
    <p>Crie sua conta e encontre seu novo lar. </p>
</div>

<div class="container my-5">
    <div class="row g-4 justify-content-center">

        <!-- Anúncio 1 -->
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <img src="~/apartamento1.jpg" class="card-img-top" alt="Imagem do Imóvel">
                <div class="card-body">
                    <h5 class="card-title">Apartamento no Centro</h5>
                    <p class="card-text text-muted">Belo Horizonte - MG</p>
                    <p class="card-text fw-bold text-success">R$ 350.000,00</p>
                    <a href="#" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>
